$red: #ee6352;
$blue: #5da3b1;
$black: #353a47;
$white: #e5e5ea;

@import url("https://fonts.googleapis.com/css2?family=Inter&family=Roboto:wght@300;500&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

body {
  width: 100vw;
  height: 100vh;
}

.main-container {
  width: 100%;
  height: 100%;
  background-color: $black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  h2 {
    padding-top: 1vh;
    padding-bottom: 2vh;
  }

  .app-button {
    color: $black !important;
  }
}
.disconnected-container {
  background-color: $red;
  .app-button {
    color: $red !important;
  }
}

.connected-container {
  background-color: $blue;
  .app-button {
    color: $blue !important;
  }
}

.loading-container {
  margin-bottom: 16vh;
}

.loading-circle {
  margin-bottom: 1vh;
}

.loading-text {
  font-size: 1em !important;
}

.app-logo-container {
  padding-top: 18vh;
}

.app-logo {
  width: 70px;
  filter: invert(100%);
  padding-bottom: 1vh;
}

.app-title {
  padding-bottom: 5vh;
  font-size: 3em;
  font-family: "Inter", sans-serif;
}

.app-button {
  margin-top: 5vh !important;
  padding: 12px 33px !important;
  font-family: "Roboto", sans-serif !important;
  font-size: 1.6em !important;
  font-weight: 500;
  background-color: white !important;
}

.app-bottom-text {
  margin-bottom: 16vh;
  font-family: "Roboto", sans-serif;
  font-size: 1.2em !important;
  line-height: 1.5em;
  font-weight: 500;
  padding-bottom: 4vh !important;
  opacity: 0.6;
}
